@import url("https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css");
.light-mode {
  --light-card-bgc:rgb(220, 220, 220);
  --light-bgc:rgb(200, 200, 200);
  --light-font-color-1:#22252A;
  --light-font-color-2:rgb(105, 109, 115);
  --light-choose-color:#2a8361;
  --light-color-white:white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC";
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-bgc, #22252A);
}

.nav {
  width: 100%;
  height: 50px;
  background-color: var(--light-card-bgc, #333742);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  opacity: 0.95;
  box-shadow: 0 0 10px var(--light-bgc, #22252A);
  z-index: 10;
}
.nav .nav-area {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.nav .nav-area .web-mode-btn {
  border: none;
  width: 30px;
  border-radius: 15px;
  background-color: var(--light-font-color-1, #8C8F94);
  cursor: pointer;
}
.nav .nav-area .web-mode-btn:hover {
  background-color: var(--light-font-color-2, white);
}
.nav .nav-area .web-mode-btn .fa-solid {
  color: var(--light-color-white, white);
  font-size: 16px;
}
.nav .nav-area .web-mode-btn:hover .fa-solid {
  color: var(--light-color-white, #8C8F94);
  font-size: 16px;
}
.nav .nav-area ul {
  list-style: none;
  display: flex;
}
.nav .nav-area ul li {
  width: 60px;
  height: 30px;
  margin-right: 20px;
}
.nav .nav-area ul li .btn {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: var(--light-font-color-1, #8C8F94);
  font-size: 14px;
  cursor: pointer;
}
.nav .nav-area ul li .btn:hover {
  color: var(--light-font-color-2, white);
}

.container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  min-height: calc(100vh - 50px);
  padding: 30px 20px;
  display: flex;
  justify-content: start;
  margin-top: 50px;
}

.taiwan-map-area {
  width: 40%;
  height: calc(100vh - 50px - 30px);
  position: fixed;
  right: 20px;
  top: 80px;
}
.taiwan-map-area .map {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.taiwan-map-area .map svg {
  height: 95%;
}
.taiwan-map-area .map svg path {
  stroke: var(--light-font-color-2, #333742);
  fill: transparent;
  transition: 0.3s;
  cursor: pointer;
}
.taiwan-map-area .map svg path:hover {
  fill: #376266 !important;
  transform: translate(-3px, -3px);
}

.weather-card-area {
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: start;
}

.weather-card {
  width: calc(50% - 20px);
  max-height: 170px;
  margin: 0 20px 20px 0;
  padding: 20px 20px;
  background-color: var(--light-card-bgc, #333742);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}
.weather-card .card-top {
  width: 100%;
  height: 100px;
  display: flex;
}
.weather-card .card-top .img-area img {
  width: 80px;
  height: 80px;
}
.weather-card .card-top .info-area {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: end;
}
.weather-card .card-top .info-area .temp {
  font-size: 40px;
  color: var(--light-font-color-2, white);
  font-weight: 400;
  display: flex;
  justify-items: end;
  margin-bottom: 5px;
}
.weather-card .card-top .info-area span {
  font-size: 14px;
  color: var(--light-font-color-1, #8C8F94);
}
.weather-card .card-top .info-area span .fi-bs-marker {
  font-size: 14px;
  color: var(--light-font-color-1, #8C8F94);
  margin-right: 5px;
}
.weather-card .card-bottom {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid var(--light-font-color-1, #8C8F94);
  padding: 10px 0 0;
}
.weather-card .card-bottom span {
  font-size: 14px;
  color: var(--light-font-color-1, #8C8F94);
  display: flex;
  align-items: center;
  padding: 0px 5px;
}
.weather-card .card-bottom span .fi {
  font-size: 15px;
  color: var(--light-choose-color, #26ECA1);
  margin-right: 5px;
}

.pathcolor {
  fill: #70c5cc !important;
}

.pathnorth {
  fill: #75a2aa !important;
}

.pathcenter {
  fill: #70c5cc !important;
}

.pathsouth {
  fill: #6399a8 !important;
}

.patheast {
  fill: #75b1b1 !important;
}

.pathisland {
  fill: #6d9ba1 !important;
}

.pathcolorclean {
  fill: transparent !important;
}/*# sourceMappingURL=new-weather.css.map */